.App {
  padding: 0;
  margin: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-search {
  min-height: 8vh;
  background-color: lightgrey;
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.App-main {
  min-height: 84vh;
  min-width: 100%;
}

.App-logo {
color: #fff;
font-size: 20px;
letter-spacing: 1px;
}

a {
  text-decoration: none;
}

a :visited {
  color: black;
  text-decoration: none;
}


@media screen and (max-width: 800px) {

.App-search {
 flex-direction: column;
}

}